@import "global/normalize.scss";
/* USER STYLES
   ========================================================================== */

/*________global_________*/
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/scaffolding.scss";

/*_________blocks_________*/

//----common for all pages----
@import "blocks/common.scss";
@import "blocks/page-header.scss";
@import "blocks/page-menu.scss";
@import "blocks/page-description.scss";
@import "blocks/intro.scss";
@import "blocks/page-footer.scss";

//----------index------------
@import "blocks/features.scss";
@import "blocks/feature-descs.scss";
@import "blocks/contacts.scss";

//----------photo------------
@import "blocks/photo.scss";
@import "blocks/photo-item.scss";
@import "blocks/video.scss";
@import "blocks/video-player.scss";

//----------form-------------
@import "blocks/form.scss";
@import "blocks/form-section.scss";
@import "blocks/popups.scss";
