.common__text-wrapper {
  margin: 0 auto;
  max-width: 500px;
}

.common__title {
  @include theme-text;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;

  &--small {
    font-size: 14px;
  }

  &--thin {
    font-weight: normal;
  }
}

.common__text {
  @include theme-text;
  font-size: 14px;
  line-height: 21px;
}

a.common__title,
a.common__text {
  text-decoration: none;
  color: black;
}

.common__btn {
  display: block;
  padding: 20px;
  @include theme-text;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: white;
  background: $theme-main-color;
  border: none;

  &--social {
    display: inline-block;
    padding: 0;
    font-size: 0;
  }

  &--narrow {
    margin: 0 auto;
    width: 180px;
  }
}

@media #{$breakpoint-tablet} {
  .common__title {
    font-size: 21px;

    &--big {
      padding-bottom: 10px;
      font-size: 30px;
    }
  }
  
  .common__text {
    line-height: 24px;
  }
}
