@mixin tablet {
  @media #{$breakpoint-tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$breakpoint-desktop} {
    @content;
  }
}

@mixin container {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    min-width: $tablet-width;
  }

  @include desktop {
    width: $desktop-width;
  }
}

@mixin theme-text {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

@mixin input-font {
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

@mixin bg-img-center-contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin bg-img-center-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
