@mixin tablet {
  @media #{$breakpoint-tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$breakpoint-desktop} {
    @content;
  }
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

@mixin theme-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin input-font {
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content }
  :-moz-placeholder           { @content }
  ::-moz-placeholder          { @content }
  :-ms-input-placeholder      { @content }
}

@mixin bg-img-center-contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin bg-img-center-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

