body {
  @include theme-text;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  color: black;
  background: #f2f2f2;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

input,
textarea {
  outline: none;
}
