$theme-main-color: #81b3d2;
$bg-color: #ffffff;
$input-color: #f2f2f2;
$input-checked-color: #333333;


//$tablet-width: 768px; // по макету
$tablet-width: 700px; // альтернатива, выглядит лучше
$desktop-width: 1200px;
$scroll-width: 20px;
$breakpoint-tablet: (min-width: $tablet-width + $scroll-width);
$breakpoint-desktop: (min-width: $desktop-width + $scroll-width);
