.common {
  @include container;
  &--outer-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.common__text-wrapper {
  margin: 0 auto;
  max-width: 500px;
}

.common__title {
  @include theme-text;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;

  &--small {
    font-size: 14px;
  }

  &--thin {
    font-weight: normal;
  }
}

.common__text {
  @include theme-text;
  font-size: 14px;
  line-height: 21px;
}

a.common__title,
a.common__text {
  text-decoration: none;
  color: black;
}

.common__btn {
  display: block;
  padding: 16px;
  @include theme-text;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  hyphens: auto;
  color: white;
  background-color: $theme-color-blue;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $theme-color-blue-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $theme-color-blue-active;
  }

  &--social {
    display: inline-block;
    padding: 0;
    font-size: 0;
    vertical-align: middle;
  }
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .common__title {
    font-size: 21px;

    &--big {
      padding-bottom: 10px;
      font-size: 30px;
    }
  }

  .common__text {
    line-height: 24px;
  }
}
