.common {
  background: $bg-color;

  &--outer-shadow {
    @include container;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.common__text-wrapper {
  margin: 0 auto;
  max-width: 500px;
}

.common__title {
  margin: 0.7em auto;
  @include theme-text;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  &--small {
    font-size: 14px;
  }

  &--thin {
    font-weight: normal;
  }
}

.common__line-break {
  display: none;
}

.common__text {
  margin: 1em auto;
  @include theme-text;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.common__title,
.common__text {
  text-decoration: none;
}

.common__btn {
  display: block;
  padding: 16px;
  @include theme-text;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  hyphens: auto;
  color: white;
  background-color: $theme-color-blue;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $theme-color-blue-hover;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $theme-color-blue-active;
  }

  &--social {
    padding: 0;
    font-size: 0;
  }
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .common__title {
    font-size: 21px;

    &--big {
      font-size: 30px;
    }
  }

  .common__line-break {
    display: inline;
  }

  .common__text {
    line-height: 24px;
  }
}
