.feature-descs {
  @include container;
  padding: 20px 20px 30px 70px;
  text-align: left;
  box-sizing: border-box;
  background-color: $bg-color;
}

.feature-desc__item-title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -50px;
    top: -10px;
    width: 40px;
    height: 40px;
    @include bg-img-center-contain;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../img/icon-burger.svg");
  }
}

@media #{$breakpoint-tablet} {
  .feature-descs {
    display: flex;
    padding: 0;
    min-height: 330px;
    text-align: center;
  }

  .feature-desc__item {
    flex-grow: 1;
    width: 100%;
    padding: 135px 45px 0;

    &:nth-child(2) {
      order: 1;
    }
  }

  .feature-desc__item-title::before {
    left: 50%;
    top: -100px;
    width: 75px;
    height: 75px;
    transform: translateX(-50%);
  }
}
