.features {
  @include container;
}

.features__item {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #eeeeee;

  &--full {
    color: white;
    background-color: $theme-color-blue;
  }
}

.features__wrapper {
  margin: 0 20px;
  padding: 25px 5px;
  text-align: center;
  box-sizing: border-box;

  &--underlined {
    border-bottom: 1px solid #d6d6d6;
  }
}

.features__number {
  margin-top: -5px;
}

.features__image {
  min-height: 300px;
  @include bg-img-center-cover;
}

@media #{$breakpoint-tablet} {
  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    justify-content: center;
    align-items: baseline;
    flex-basis: 100% * 1/3;
    min-height: 256px;

    &--right {
      order: 2;
    }
  }

  .features__title {
    margin: 1em auto;
    width: 160px;
  }

  .features__image {
    flex-basis: 100% * 2/3;
  }

  .features__wrapper {
    margin: 0 10%;

    &--underlined {
      border-bottom: none;
    }
  }

  .features__flex-wrapper {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .features__image {

    &--city {
      background-image: url("../img/photo-city-mobile@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city-mobile@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/photo-bridge-mobile@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge-mobile@2x.jpg");
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .features__image {

    &--city {
      background-image: url("../img/photo-city-tablet@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      order: 1;
      background-image: url("../img/photo-bridge-tablet@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: 769px) {
  .features__image {
    &--city {
      background-image: url("../img/photo-city@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city@2x.jpg");
        background-size: cover;
      }
    }

    &--bridge {
      order: 1;
      background-image: url("../img/photo-bridge@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge@2x.jpg");
        background-size: cover;
      }
    }
  }
}
