section.feature {
  background-color: #eeeeee;

  &--active {
    background-color: $theme-main-color;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.feature__preview-wrapper {
  margin: 0 20px;
  padding: 15px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;

  section.feature:last-of-type & {
    border-bottom: none;
  }

  .feature--active & {
    color: white;
    border-bottom: none;
  }
}

.feature__image {
  @include bg-img-center-cover;

  .feature--active & {
    height: 260px;
  }

  &--city {
    background-image: url("../img/photo-city@1x.jpg");
  }

  &--bridge {
    background-image: url("../img/photo-bridge@1x.jpg");
  }
}
