.features {
  @include container;
}

.features__item {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #eeeeee;

  &--full {
    color: white;
    background-color: $theme-color-blue;
  }
}

.feature__wrapper {
  margin: 0 20px;
  padding: 25px 5px;
  text-align: center;
  box-sizing: border-box;

  &--underlined {
    border-bottom: 1px solid #d6d6d6;
  }
}

.feature__number {
  margin-top: -5px;
}

.feature__image {
  min-height: 300px;
  @include bg-img-center-cover;

  &--city {
    background-image: url("../img/photo-city@1x.jpg");
  }

  &--bridge {
    background-image: url("../img/photo-bridge@1x.jpg");
  }
}

@media #{$breakpoint-tablet} {
  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    justify-content: center;
    align-items: baseline;
    flex-basis: 100% * 1/3;
    min-height: 256px;

    &--right {
      order: 2;
    }
  }

  .feature__title {
    margin: 1em auto;
    width: 160px;
  }

  .feature__image {
    flex-basis: 100% * 2/3;

    &--bridge {
      order: 1;
    }
  }

  .feature__wrapper {
    margin: 0 10%;

    &--underlined {
      border-bottom: none;
    }
  }

  .feature__flex-wrapper {
    display: flex;
    width: 100%;
  }
}
