.feature-descs {
  @include container;
  padding: 20px 20px 25px 70px;
  text-align: left;
  box-sizing: border-box;
  background-color: $bg-color;
}
.feature-descs__item {
  padding-bottom: 12px;
}

.feature-descs__item-title {
  position: relative;
  margin: 15px auto;

  &::before {
    content: '';
    position: absolute;
    left: -50px;
    top: -10px;
    width: 40px;
    height: 40px;
    @include bg-img-center-contain;
  }

  &--house::before {
    background-image: url("../img/icons/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icons/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../img/icons/icon-burger.svg");
  }
}

.feature-descs__item-text {
  margin: 0;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .feature-descs {
    display: flex;
    padding: 0;
    min-height: 330px;
    text-align: center;
  }

  .feature-descs__item {
    flex-grow: 1;
    width: 100%;
    padding: 145px 45px 45px;

    &:nth-child(2) {
      order: 1;
    }
  }

  .feature-descs__item-title {
    margin-bottom: 20px;
  }

  .feature-descs__item-title::before {
    left: 50%;
    top: -100px;
    width: 75px;
    height: 75px;
    transform: translateX(-50%);
  }

  .feature-descs__item-text {
    line-height: 21px;
  }
}
