.features {
  @include container;
}

.features__item {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #eeeeee;

  &--full {
    color: white;
    background-color: $theme-color-blue;
    border-bottom: 1px solid inherit;
  }
}

.features__wrapper {
  padding: 25px;
  text-align: center;

  &--short {
    margin: 0 20px;
    padding: 11.5px;
    border-bottom: 1px solid #d6d6d6;
  }

  &--last {
    border-bottom: none;
  }
}

.features__title {
  margin: 14px auto;
}

.features__wrapper--short .features__title {
  margin: 15px auto;
}

.features__number {
  margin-top: -5px;
  margin-bottom: 15px;
}

.features__text {
  margin: 15px auto;
}

.features__image {
  min-height: 260px;
  @include bg-img-center-cover;
  background-color: #888888;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    justify-content: center;
    align-items: center;
    flex-basis: 100% * 1/3;
    min-height: 255px;

    &--right {
      order: 2;
    }
  }

  .features__wrapper {
    padding: 25px 45px;

    &--short {
      margin: 0;
      padding: 35px 50px;
      border-bottom: none;
    }
  }

  .features__title,
  .features__wrapper--short .features__title{
    margin: 10px auto;
  }

  .features__number {
    margin-top: 0;
    margin-bottom: 21px;
    line-height: 21px;
  }

  .features__text {
    margin: 10px auto;
    line-height: 21px;
  }

  .features__image {
    flex-basis: 100% * 2/3;
    min-height: 255px;
  }

  .features__flex-wrapper {
    display: flex;
    width: 100%;
  }
}

@media #{$breakpoint-desktop} {
  .features__wrapper {
    padding: 10px 45px 25px;
  }

  .features__text {
    margin: 0 auto;
  }

  .features__wrapper--short .features__text {
    margin: 10px auto;
  }
}


//______________________ Версии для картинок ______________________


@media (max-width: 320px) {
  .features__image {

    &--city {
      background-image: url("../img/photo-city-mobile@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city-mobile@2x.jpg");
      }
    }

    &--bridge {
      background-image: url("../img/photo-bridge-mobile@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge-mobile@2x.jpg");
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .features__image {

    &--city {
      background-image: url("../img/photo-city-tablet@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city-tablet@2x.jpg");
      }
    }

    &--bridge {
      order: 1;
      background-image: url("../img/photo-bridge-tablet@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: 769px) {
  .features__image {
    &--city {
      background-image: url("../img/photo-city@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-city@2x.jpg");
        background-size: cover;
      }
    }

    &--bridge {
      order: 1;
      background-image: url("../img/photo-bridge@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/photo-bridge@2x.jpg");
        background-size: cover;
      }
    }
  }
}
