.features {
  @include container;
}

.features__item {
  color: black;
  background-color: #eeeeee;

  &--full {
    color: white;
    background-color: $theme-main-color;
  }
}

.feature__wrapper {
  margin: 0 20px;
  padding: 25px 5px;
  text-align: center;
  box-sizing: border-box;

  &--underlined {
    border-bottom: 1px solid #d6d6d6;
  }
}

.feature__number {
  margin-top: -5px;
}

.feature__image {
  width: 100%;
  height: 260px;
  @include bg-img-center-cover;

  &--city {
    background-image: url("../../img/photo-city@1x.jpg");
  }

  &--bridge {
    background-image: url("../../img/photo-bridge@1x.jpg");
  }
}

@media #{$breakpoint-tablet} {
  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100% * 1/3;
    height: 256px;

    &--right {
      order: 2;
    }
  }

  .feature__image {
    flex-basis: 100% * 2/3;
    height: 256px;

    &--bridge {
      order: 1;
    }
  }

  .feature__wrapper {
    margin: 0 45px;

    &--underlined {
      border-bottom: none;
    }
  }

  .feature__flex-wrapper {
    order: 3;
    display: flex;
  }
}
