section.feature {
  background-color: #eeeeee;

  &--active {
    background-color: $theme-main-color;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.feature__preview-wrapper {
  margin: 0 20px;
  padding: 15px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
}

section.feature:last-of-type .feature__preview-wrapper {
  border-bottom: none;
}

.feature--active .feature__preview-wrapper {
  color: white;
  border-bottom: none;
}

.feature__image {
  height: 260px;
  display: none;
  overflow: hidden;
}

.feature__image img {
  margin: 0 -50%;
  display: inline-block;
}

.feature--active .feature__image {
  display: block;
}
