.feedback-form {
  @include container;
}

.form-section {
  padding: 0 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.form-section:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.form-section__title {
  display: inline-block;
}

.form-section__line {
  text-align: left;
}

.form-section__wrong-value {
  display: block;
  text-align: left;
  text-transform: none;
  color: #ff5c5c;
}

.feedback-form__submit-btn {
  display: inline-block;
  width: calc(100% - 40px);
}
