.feedback-form {
  padding-bottom: 50px;
  @include container;
  text-align: left;
  box-sizing: border-box;
}

.form-section {
  display: flex;
  margin: 0;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;

  &--btn {
    border-top: none;
  }
}

.form-section__title {
  text-align: center;
}

.form-section__line {
  display: inline-flex;
  align-items: center;
  //box-sizing: border-box;
  //flex-wrap: wrap;

  &--contacts {
    flex-wrap: wrap;
    //flex-direction: column;
  }
}

.form-section__input {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  flex-grow: 1;
  width: 150px;
  @include input-font;
  background-color: $input-color;
  border: 0;

  &--grow {
    width: 100%;
    flex-grow: 1;
  }
}

@include placeholder(){
  @include input-font;
}

.form-section__input-label {
  margin-right: 10px;
}

.form-section__wrong-value {
  display: block;
  text-align: left;
  text-transform: none;
  color: #ff5c5c;
}

.form-section__line--contacts .form-section__input-label,
.form-section__wrong-value {
  margin-left: 20px;
  margin-bottom: 10px;
}

.form-section__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.form-section__list-item {
  margin-bottom: 25px;
}

.form-section__radio,
.form-section__checkbox {
  display: none;
}

.form-section__label {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;

  &--radio::before {
    border-radius: 50%;
  }

  &--checkbox::before {
    border-radius: 5px;
  }
}

.form-section__radio-btn,
.form-section__checkbox-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 55px;
  height: 55px;
  background: $input-color;
}

.form-section__radio-btn {
  border-radius: 50%;
}

.form-section__checkbox-btn {
  border-radius: 5px;
}

.form-section__radio:checked ~ .form-section__radio-btn::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: $input-checked-color;
  border-radius: 50%;
}

.form-section__checkbox:checked ~ .form-section__checkbox-btn::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  @include bg-img-center-contain;
  background-image: url("../../img/icon-tick.svg");
}

.form-section__textarea {
  flex-grow: 1;
  margin-bottom: 50px;
  padding: 20px;
  width: 200px;
  resize: none;
  @include input-font;
  background-color: $input-color;
  border: 0;
}

.feedback-form__submit-btn {
  width: 100%;
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .form-section {
    padding: 0 60px;
  }

  .form-section__line--contacts {
    justify-content: space-between;
  }

  .form-section__line--contacts .form-section__input-label {
    order: -2;
  }

  .form-section__wrong-value {
    margin-left: 0;
    order: -1;
  }
}
