.form-section {
  margin: 0;
  padding: 20px;
  padding-bottom: 30px;
  border: none;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  width: 100%;
}


.form-section__legend {
  display: none;
  text-align: center;
}

.form-section__title {
  text-align: center;
  margin-top: 0;
}

.form-section__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-section__label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 10px 0;
  width: 100%;
  line-height: 26px;

  &--column {
    margin: 0;
    align-items: stretch;
    flex-direction: column;
  }

  &--right {
    font-size: 18px;
    font-weight: bold;
  }
}

.form-section__label-text {
  margin: 5px 20px;
  line-height: 26px;
  text-align: left;

  &--hidden {
    margin: 0;
  }
}

.form-section__input {
  display: block;
  margin-left: 15px;
  padding: 15px 20px;
  flex-grow: 1;
  width: 130px;
  min-height: 56px;
  @include input-font;
  background-color: $theme-color-lightgray;
  border: 0;
  box-sizing: border-box;

  &::placeholder {
    @include input-font;
  }

  &:hover {
    background-color: darken($theme-color-lightgray, 5);
  }

  &:active,
  &:focus {
    background-color: $bg-color;
    box-shadow: inset 0 0 0 4px darken($theme-color-lightgray, 5);
  }

  &--grow {
    margin-left: 0;
    width: 100%;
    padding-right: 78px;
    flex-grow: 1;
    order: 0;
  }
}

.form-section__label-wrapper,
.form-section__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.form-section__input-icon {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 100%;
  background-color: darken($theme-color-lightgray, 5);
  @include bg-img-center-contain;


  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 18px;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-size: 16px;
  }
}


.form-section__wrong-value {
  display: block;
  margin: 5px 20px;
  text-transform: none;
  color: #ff5c5c;

  &--top {
    display: none;
  }

  &--bottom {
    display: block;
  }
}

.form-section__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.form-section__list-item {
  align-items: center;
}

.form-section__radio,
.form-section__checkbox {
  display: none;
}

.form-section__radio-btn,
.form-section__checkbox-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  width: 55px;
  height: 55px;
  background-color: $theme-color-lightgray;
}

.form-section__label--right:hover .form-section__radio-btn,
.form-section__label--right:hover .form-section__checkbox-btn {
  background-color: darken($theme-color-lightgray, 5);
}

.form-section__label--right:active .form-section__radio-btn,
.form-section__label--right:active .form-section__checkbox-btn {
  background-color: darken($theme-color-lightgray, 10);
}

.form-section__radio-btn {
  border-radius: 50%;
}

.form-section__checkbox-btn {
  border-radius: 5px;
}

.form-section__radio:checked ~ .form-section__radio-btn::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: $input-checked-color;
  border-radius: 50%;
}

.form-section__checkbox:checked ~ .form-section__checkbox-btn::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  @include bg-img-center-contain;
  background-image: url("../img/icon-tick.svg");
}

.form-section__label--right:active .form-section__radio-btn::after,
.form-section__label--right:active .form-section__checkbox-btn::after{
  opacity: 0.3;
}

.form-section__textarea {
  flex-grow: 1;
  padding: 15px 20px;
  width: 100%;
  resize: none;
  @include input-font;
  background-color: $theme-color-lightgray;
  border: 0;

  &::placeholder {
    @include input-font;
  }

  &:hover {
    background-color: darken($theme-color-lightgray, 5);
  }

  &:active,
  &:focus {
    background-color: $bg-color;
    box-shadow: inset 0 0 0 4px darken($theme-color-lightgray, 5);
  }
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .form-section {
    padding: 20px 0 50px;
    border-top: none;

    &--half {
      padding: 0;
      width: 50%;
      border: 0;
    }

    &--narrow {
      padding-left: 9%;
      border-left: 1px solid #e5e5e5;
    }

    &--first {
      order: -1;
    }
  }

  .form-section__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 50px;


    &::before,
    &::after {
      content: '';
      display: block;
      vertical-align: middle;
      width: 50%;
      height: 1px;
      border-top: 1px solid #e5e5e5;
    }
  }

  .form-section__title-text {
    display: inline-block;
    min-width: 400px;
    vertical-align: middle;
  }

  .form-section--half .form-section__title {
    margin-top: 0;
    display: block;
    width: auto;
    text-align: left;

    &::before,
    &::after {
      display: none;
    }
  }

  .form-section__label--column {
    margin-bottom: 15px;
    width: 100%;
  }

  .form-section__wrong-value {
    &--top {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }

    &--bottom {
      display: none;
    }
  }

  .form-section__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .form-section__list-item {
    width: 40%;

    &--1 { order: 0; }
    &--2 { order: 2; }
    &--3 { order: 1; }
    &--4 { order: 3; }
  }
}

/*
______________________ Десктопная версия ______________________
*/

@media #{$breakpoint-desktop} {
  .form-section--first .form-section__title {
    margin-left: 80px;
  }

  .form-section__wrapper--nowrap {
    flex-wrap: nowrap;
  }

  .form-section__label--column {
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
  }

  .form-section__label-text {
    margin: 0;
    margin-right: 15px;
    padding: 15px 0;
  }

  .form-section__label-text--hidden {
    display: none;
  }

  .form-section__input--grow {
    flex-grow: 0;
    width: 315px;
  }

  .form-section__label-wrapper,
  .form-section__input-wrapper {
    width: auto;
  }

  .form-section__wrong-value {
    order: -1;
    &--top {
      display: none;
    }

    &--bottom {
      display: block;
    }
  }

  .form-section__list-item {
    width: 25%;
  }
}
