.form {
  display: flex;
  flex-wrap: wrap;
  @include container;
  background-color: $bg-color;
  box-sizing: border-box;
}

.form__submit {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-top: none;
}

.form__submit-btn {
  flex-grow: 1;
  margin-bottom: 18px;

  &:disabled {
    background-color: darken($theme-color-lightgray, 5);
  }
}

.form__footnote {
  display: none;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .form {
    padding: 20px 60px;
  }

  .form__submit {
    margin-bottom: 40px;
    padding: 0;
  }

  .form__submit-btn {
    margin-bottom: 0;
    width: 50%;
  }

  .form__footnote {
    display: block;
    width: 50%;
    text-align: right;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .form {
    padding: 20px 120px;
  }

  .form__submit {
    margin-bottom: 45px;
  }
}
