.intro {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  background-image:
    url("../../img/bg-intro-triangle-mobile.svg"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: cover, cover;

  &--big {
    min-height: 390px;
  }
}

.intro__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__logo {
  width: 230px;
  height: 55px;

  &--index {
    width: 282px;
    height: 210px;
  }
}

@media #{$breakpoint-tablet} {
  .intro {
    min-height: 300px;
    //background-image:
    //  url("../../img/bg-intro-triangle-mobile.svg"),
    //  url("../../img/bg-back-desktop@1x.jpg"); /* для будущей большой картинки */
    background-size: 2210px 57px, cover; /* "2210px 57px" - костыль для старой треугольной маски*/

    &--big {
      min-height: 520px;
    }
  }

  .intro__wrapper {
    width: auto;
  }

  .intro__logo {
    width: 460px;
  }
}
