.intro {
  display: flex;
  flex-direction: column;
  background-color: #979c9f;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  box-sizing: border-box;
  background-position: bottom, bottom;
  background-repeat: no-repeat;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-size: 100% 27px, cover;

  @media #{$retina} {
    background-image:
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% 27px, cover;
  }

  &--big {
    min-height: 390px;
  }
}

.intro__logo {
  min-width: 230px;
  width: 50%;
  max-width: 460px;
  min-height: 50px;

  &--index {
    min-width: 282px;
  }
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .intro__wrapper {
    min-height: 300px;

    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 1201px 57px, cover;

    @media #{$retina} {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-size: 1201px 57px, cover;
    }

    &--big {
      min-height: 520px;
    }
  }
}
