.intro {
  display: flex;
  flex-direction: column;
  background-color: #979c9f;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  box-sizing: border-box;
  background-position: bottom, bottom;
  background-repeat: no-repeat;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-size: 100% 27px, auto;

  @media #{$retina} {
    background-image:
      url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% 27px, auto;
  }

  &--big {
    min-height: 389px;
  }
}

.intro__logo {
  width: 230px;
  height: 57px;

  &--index {
    width: 282px;
    height: 210px;
  }
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .intro__wrapper {
    min-height: 290px;

    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 1201px 57px, auto;

    @media #{$retina} {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-size: 1201px 57px, auto;
    }

    &--big {
      min-height: 518px;
    }
  }

  .intro__logo {
    width: 460px;
    height: 100px;

    &--index {
      width: 460px;
      height: 362px;
    }
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .intro__wrapper {
    min-height: 302px;

    &--big {
      min-height: 518px;
    }
  }

  .intro__logo {
    height: 98px;

    &--index {
      height: 362px;
    }
  }
}
