.intro {
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  background-image:
    url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom, bottom;
  background-repeat: no-repeat;
  background-size: cover, auto;
  box-sizing: border-box;

  &--big {
    min-height: 390px;
  }
}

.intro__logo {
  min-width: 230px;
  width: 60%;
  max-width: 460px;
  min-height: 50px;

  &--index {
    min-width: 282px;
  }
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .intro__wrapper {
    min-height: 300px;
    //background-image:
    //  url("../img/bg-intro-triangle-mobile.svg"),
    //  url("../img/bg-back-desktop@1x.jpg"); /* для будущей большой картинки */
    background-size: 100% 50px, cover; /* "2210px 57px" - костыль для старой треугольной маски*/

    &--big {
      min-height: 520px;
    }
  }
}
