.page-menu {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.page-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-menu__item {
  &--spacer {
    display: none;
  }
}

.page-menu__item-link {
  display: block;
  height: 55px;
  @include theme-text;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-decoration: none;
  color: white;
  background-color: $theme-main-color;
}

.page-menu__item:not(:first-of-type) {
  border-top: 1px solid #9ac2db;
}

.page-menu__item:not(:last-of-type) {
  border-bottom: 1px solid #678fa8;
}

.page-menu__item:last-child .page-menu__item-link {
  box-shadow: inset 0 -7px 14px -7px rgba(0, 0, 0, 0.2);
}

.page-menu__btn {
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  width: 23px;
  height: 22px;
  @include bg-img-center-cover;
  z-index: 20;
  cursor: pointer;
  &--close {
    background-image: url("/img/icon-cross.svg");
  }
  &--toggle {
    background-image: url("/img/icon-menu.svg");
  }
}

@media #{$breakpoint-tablet} {
  .page-menu {
    width: 100%;
    position: absolute;
    z-index: 30;
  }

  .page-menu__list {
    display: flex;
    justify-content: space-around;
  }

  .page-menu__item {
    width: 100%;
    &:not(:first-of-type),
    &:not(:last-of-type) {
      border: none;
    }
    &:last-child .page-menu__item-link {
      box-shadow: none;
    }
    &--spacer {
      display: block;
    }
  }

  .page-menu__item-link {
    font-size: 14px;
    color: black;
    background: none;
    box-shadow: none;
  }

  .page-menu__btn {
    display: none;
  }
}
