.page-description {
  @include container;
  position: relative;
  padding: 23px 20px 3px;
  line-height: 26px;
  background-color: $bg-color;
  box-sizing: border-box;

  &--index {
    padding-bottom: 26px;
  }

  &--index::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 37px;
    background-size: 100% 100%;
    background: $theme-color-blue url("../img/bg-triangle.svg") no-repeat center bottom;
  }
}

.page-description__title {
  padding: 0 10px;
}

.page-description--index .page-description__title {
  margin: 20px auto;
  padding: 0 10px;
}

.page-description__text {
  margin: 25px auto 15px;
  padding: 0 2.5px;
  line-height: 24px;
}

.page-description--index .page-description__text {
  margin-top: 26px;
  line-height: 26px;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .page-description {
    padding-top: 55px;
    padding-bottom: 23px;

    &--index {
      padding-top: 30px;
      padding-bottom: 15px;
    }

    &--index::after {
      display: none;
    }
  }

  .page-description__title {
    margin: 20px auto;
  }

  .page-description--index .page-description__title {
    padding: 0 10px;
    letter-spacing: 0.15px;
  }

  .page-description__text {
    margin: 30px auto 33px;
    padding: 0;
    letter-spacing: 0.1px;
    line-height: 24px;
  }

  .page-description--index .page-description__text {
    margin-top: 30px;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .page-description {
    padding-top: 95px;
    padding-bottom: 23px;

    &--index {
      padding-top: 30px;
      padding-bottom: 33px;
    }
  }

  .page-description__title {
    margin: 17px auto;
    padding-bottom: 5px;
  }

  .page-description__text {
    margin: 25px auto 17px;
  }
}
