.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  @include container;
  background-color: darken($bg-color, 1);
}

.page-footer__item {
  padding: 20px;
}

.page-footer__hashtag-link {
  font-size: 21px;
}

.page-footer__social-link {
  margin: 0 4px;
  font-size: 0;
  height: 45px;
  width: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__social-link svg {
  fill: white;
}

.page-footer__copy-icon {
  display: inline-block;
  width: 27px;
  height: 40px;
  vertical-align: middle;
}

.page-footer__copy-link:hover svg {
  fill: $theme-color-blue;
}

.page-footer__copy-link:active svg {
  opacity: 0.3;
}

@media #{$breakpoint-tablet} {
  .page-footer {
    flex-direction: row;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .page-footer__item {
    padding: 40px 0;
  }
}

@media #{$breakpoint-desktop} {
  .page-footer {
    padding: 0 120px;
  }
}
