.page-header__wrapper {
  position: relative;
  min-height: 55px;
}

.page-menu {
  position: relative;
  //display: none;
}

.page-menu__wrapper {
  //position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 55px;
  z-index: 100;
}
