.page-header {
  position: relative;
  @include container;
  background-color: $bg-color;
}

.page-header__logo-wrapper {
  position: relative;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.page-header__logo-link img,
.page-header__logo img {
  width: 100px;
  height: 80px;
  margin-bottom: -25px;
}

.page-header__logo-link {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .page-header__logo {
    display: none;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .page-header__logo-link img,
  .page-header__logo img {
    width: 190px;
    height: 100px;
    margin-bottom: -45px;
  }
}
