.page-header {
  position: relative;
  @include container;
  text-align: center;
  background-color: white;
}

.page-header__wrapper {
  position: relative;
  min-height: 55px;
}

.page-header__logo {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 55px;
  z-index: 10;
}

.page-header__wrapper {
  position: relative;
}
