.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  @include container;
  background-color: darken($bg-color, 1);
}

.page-footer__item {
  padding: 20px;
}

.page-footer__hashtag-link {
  font-size: 21px;
}

.page-footer__social-link {
  margin: 0 4px;
  font-size: 0;
  height: 45px;
  width: 45px;
  background-position: center center;
  background-repeat: no-repeat;

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }
  &--fb {
    background-image: url("../img/icon-facebook.svg");
  }
  &--yt {
    background-image: url("../img/icon-youtube.svg");
  }
}

.page-footer__copy-icon {
  display: inline-block;
  width: 27px;
  height: 40px;
  vertical-align: middle;
  @include bg-img-center-cover;
  background-image: url("../img/htmlacademy.svg");
}

@media #{$breakpoint-tablet} {
  .page-footer {
    flex-direction: row;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .page-footer__item {
    padding: 40px 0;
  }
}

@media #{$breakpoint-desktop} {
  .page-footer {
    padding: 0 120px;
  }

  /* Не понятно, насколько нужны эти отступы, но на макетах
   страниц главной и фото в десктопной версии они есть,
    а в десктопной версии страницы формы их нет */
  //.page-footer__hashtag,
  //.page-footer__copy {
  //  padding-left: 90px;
  //}
}
