.page-menu {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

.page-menu__wrapper {
  //display: none;
}

.page-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-menu__item {
  flex-grow: 1;

  &--spacer {
    display: none;
  }
}

.page-menu__item-link {
  display: block;
  padding: 7px 0;
  @include theme-text;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: $theme-color-blue;
}

.page-menu__item:not(:first-of-type) {
  box-shadow: 1px solid lighten($theme-color-blue, 10);
  border-top: 1px solid lighten($theme-color-blue, 10);
}

.page-menu__item:not(:last-of-type) {
  box-shadow: 1px solid lighten($theme-color-blue, 10);
  border-bottom: 1px solid darken($theme-color-blue, 10);
}

.page-menu__item:last-child .page-menu__item-link {
  box-shadow: inset 0 -7px 14px -7px rgba(0, 0, 0, 0.2);
}

.page-menu__btn {
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  width: 23px;
  height: 22px;
  @include bg-img-center-cover;
  z-index: 20;
  cursor: pointer;
  &--close {
    background-image: url("../img/icon-cross.svg");
  }
  &--toggle {
    background-image: url("../img/icon-menu.svg");
  }
}

@media #{$breakpoint-tablet} {
  .page-menu__wrapper {
    display: flex;
    width: 100%;
    //flex-direction: column;
  }

  .page-menu__list {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .page-menu__item {
    width: 100%;
    &:not(:first-of-type),
    &:not(:last-of-type) {
      border: none;
    }
    &:last-child .page-menu__item-link {
      box-shadow: none;
    }
    &--spacer {
      display: block;
    }
  }

  .page-menu__item-link {
    font-size: 14px;
    color: black;
    background: none;
    box-shadow: none;
  }

  .page-menu__btn {
    display: none;
  }
}
