.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  @include container;
  background-color: darken($bg-color, 1);
}

.page-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19.35px;
}

.page-footer__hashtag-link {
  margin: 0;
  font-size: 21px;
  line-height: 1rem;
  color: #000;
}

.page-footer__social-link {
  margin: 3px;
  font-size: 0;
  width: 46px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active svg {
    opacity: 0.3;
  }
}

.page-footer__social-link svg {
  fill: white;
}

.page-footer__copy-link {
  margin: 0;
  color: #000;
}

.page-footer__copy-icon {
  display: inline-block;
  margin-left: 8px;
  width: 27px;
  height: 35px;
  vertical-align: middle;
}

.page-footer__copy-link:hover svg {
  fill: $theme-color-blue;
}

.page-footer__copy-link:active svg {
  opacity: 0.3;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .page-footer {
    flex-direction: row;
    padding: 0 60px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .page-footer__item {
    padding: 33px 0;
  }

  .page-footer__social-link:last-child {
    margin-right: 13px;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .page-footer {
    padding: 0 120px;
  }

  .page-footer__hashtag-link {
    margin-left: 12px;
    margin-right: -12px;
  }

  .page-footer__copy-link--right {
    margin-left: 75px;
    margin-right: -75px;
  }
}
