.page-description {
  @include container;
  position: relative;
  padding: 20px 20px 25px;
  line-height: 26px;
  background-color: $bg-color;
  box-sizing: border-box;

  &--index::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 37px;
    background-size: 100% 100%;
    background: $theme-color-blue url("../img/bg-triangle.svg") no-repeat center bottom;
  }
}

.page-description__title {
  padding: 5px 10px;
}

.page-description__text {
  padding: 5px 10px;
  line-height: 26px;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .page-description {
    padding-top: 80px;
    padding-bottom: 35px;

    &--index::after {
      display: none;
    }
    .page-description__title {
      padding-bottom: 5px;
    }
  }

  .page-description__text {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  .page-description__text {
    line-height: 24px;
  }
}
