@import "../global/variables.scss";

.page-menu {
  &--mobile {

  }
}

.page-menu__wrapper {

}

.page-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-menu__item:not(:first-of-type) {
  border-top: 1px solid #9ac2db;
}

.page-menu__item:not(:last-of-type) {
  border-bottom: 1px solid #678fa8;
}

.page-menu__item:last-child .page-menu__item-link {
  box-shadow: inset 0 -7px 14px -7px rgba(0, 0, 0, 0.2);
}

.page-menu__btn img {
  stroke: blue;
}

.page-header__logo {
  display: inline-block;
}
