.page-footer {
  @include container;
  background-color: #fefefe;
}

.page-footer__hashtag {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__hashtag-link {
  font-size: 21px;
}

.page-footer__socials {
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__social-link {
  margin: 0 4px;
  height: 45px;
  width: 45px;
  background-position: center center;
  background-repeat: no-repeat;

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }
  &--fb {
    background-image: url("../img/icon-facebook.svg");
  }
  &--yt {
    background-image: url("../img/icon-youtube.svg");
  }
}

.page-footer__copy {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__copy-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background-image: url("../img/htmlacademy.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

@media #{$breakpoint-tablet} {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    box-sizing: border-box;
  }

  .page-footer__hashtag,
  .page-footer__socials,
  .page-footer__copy {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media #{$breakpoint-desktop} {
  .page-footer {
    padding: 0 40px;
  }

  .page-footer__hashtag,
  .page-footer__copy {
    padding-left: 90px;
  }
}
