.page-header {
  position: relative;
  @include container;
  text-align: center;
  background-color: white;
}

.page-header__wrapper {
  position: relative;
  min-height: 55px;
}

.page-header__logo {
  margin: 0 auto;
  width: 100px;
  height: 55px;
}
