.page-header {
  position: relative;
  @include container;
  background-color: $bg-color;
}

.page-header__logo-wrapper {
  position: relative;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  //height: 55px;
}

.page-header__logo-link img,
.page-header__logo img {
  width: 100px;
  height: 80px;
  margin-bottom: -25px;
}

.page-header__logo-link {
  display: block;
  margin: 0 auto;
  width: 100%;
  //height: 100%;
}

@media #{$breakpoint-tablet} {
  .page-header__logo {
    display: none;
  }
}

@media #{$breakpoint-desktop} {
  .page-header__logo-link img,
  .page-header__logo img {
    width: 190px;
    height: 100px;
    margin-bottom: -45px;
  }
}
