.page-menu {
  min-width: 320px;
  margin: 0 auto;
}

.page-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-menu__item,
.page-menu--no-js .page-menu__list--closed .page-menu__item {
  display: block;
}

.page-menu__list--closed .page-menu__item {
  display: none;
}

.page-menu__logo {
  display: block;
  order: 1;
}

.page-menu__item-link {
  display: block;
  padding: 7px 0;
  @include theme-text;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: $theme-color-blue;

  &[href]:hover {
    background-color: $theme-color-blue-hover;
  }

  &[href]:active {
    background-color: $theme-color-blue-active;
  }
}

.page-menu__item:not(:first-of-type) .page-menu__item-link {
  box-shadow: inset 0 1px lighten($theme-color-blue, 10);

  &[href]:hover,
  &[href]:active {
    box-shadow: none;
  }
}

.page-menu__item:not(:last-of-type) .page-menu__item-link {
  border-bottom: 1px solid darken($theme-color-blue, 10);

  &[href]:hover,
  &[href]:active {
    border-bottom: 1px solid $theme-color-blue;
  }
}

.page-menu__item:last-of-type .page-menu__item-link {
  border-bottom: 1px solid $theme-color-blue;
  box-shadow:
    inset 0 1px lighten($theme-color-blue, 10),
    inset 0 -7px 14px -7px rgba(0, 0, 0, 0.2);
}

.page-menu__btn {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 22px;
  height: 22px;
  z-index: 20;
  cursor: pointer;

  &--open::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height:4px;
    background-color: $theme-color-blue;
    box-shadow:
      0 9px 0 0 $theme-color-blue,
      0 18px 0 0 $theme-color-blue;
  }

  &--close::before,
  &--close::after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -4.5px;
    width: 30px;
    height:4px;
    background-color: white;
  }

  &--close::before {
    transform: rotate(45deg);
  }

  &--close::after {
    transform: rotate(-45deg);
  }
}

.page-menu--no-js .page-menu__btn {
  display: none;
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .page-menu__list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .page-menu__list--closed .page-menu__item {
    display: block;
  }

  .page-menu__item {
    width: 100%;
    &:not(:first-of-type) .page-menu__item-link,
    &:not(:last-of-type) .page-menu__item-link {
      border: none;
      box-shadow: none;

      &[href]:hover,
      &[href]:active {
        border: none;
        box-shadow: none;
      }
    }
    &:last-child .page-menu__item-link {
      box-shadow: none;
    }
  }

  .page-menu__logo {
    display: block;
    order: inherit;
  }

  .page-menu__item-link {
    font-size: 14px;
    color: black;
    background: none;
    box-shadow: none;

    &[href]:hover,
    &[href]:active {
      background-color: transparent;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      color: #766357;
      &:hover {
        color: #604e43;
      }
    }

    &[href]:hover {
      color: $theme-color-blue;
    }
  }

  .page-menu__btn {
    display: none;
  }
}
