.page-description {
  @include container;
  position: relative;
  padding: 20px 30px 25px;
  line-height: 26px;
  background-color: white;
  box-sizing: border-box;

  &--index::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: $theme-main-color;
    background-image: url("../img/bg-triangle.svg");
    background-position: center bottom;
    background-size: cover;
  }
}

.page-description__title {
  padding: 10px 0;
}

.page-description__text {
  line-height: 26px;
}

@media #{$breakpoint-tablet} {
  .page-description {
    padding: 40px 0;

    &--index::after {
      display: none;
    }
  }

  .page-description__text {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
}
