.photo-item {
  padding: 20px;
  text-align: left;
  line-height: 24px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.photo-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.photo-item__img {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background: linear-gradient(320deg, darken($theme-color-lightgray, 15) 0%, $theme-color-lightgray 100%);
}

.photo-item__img-wrapper {
  position: absolute;
  min-width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.photo-item__img-wrapper img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: bottom;
}

.photo-item__description {
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}

.photo-item__author {
  text-transform: none;
}

.photo-item__votes {
  min-width: 70px;
  max-width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photo-item__vote-icon {
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.photo-item__vote-score {
  display: inline-block;
  vertical-align: middle;
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .photo-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 50%;
    border: none;

    &:last-child {
      border: none;
    }

    &--big {
      width: 100%;
    }
  }

  .photo-item--big .photo-item__img {
    height: 400px;
  }

  .photo-item__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 16px 20px;
    width: 100%;
    background-color: $theme-color-lightgray;
    box-sizing: border-box;
  }

  .photo-item:nth-last-child(2n):not(:first-child) .photo-item__bottom-wrapper {
    background-color: #eaeaea;
  }

  .photo-item__title,
  .photo-item__author,
  .photo-item__vote-score {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .photo-item {
    position: relative;
    height: 270px;
    width: 100% * 1/3;

    &--big {
      width: 100%;
      height: 400px;
    }
  }

  .photo-item__img {
    height: 100%;
  }

  .photo-item__bottom-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-item:nth-last-child(2n):not(:first-child) .photo-item__bottom-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo-item__vote-icon svg {
    fill: #ffffff;
  }
}
