@import "../global/fonts.scss";

.photo-item {
  padding: 20px;
  text-align: left;
  line-height: 24px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.photo-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.photo-item__img img {
  vertical-align: bottom;
}

.photo-item__author {
  text-transform: none;
}
