.popup {
  //position: fixed;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index:999;

  &--error {
    padding: 30px 45px;
  }
}

.popup__message-wrapper {
  padding: 30px;
}

.popup-success__btn-wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}

.popup__btn-ok {
  margin-top: 20px;
}
