.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 998;

  &--closed {
    display: none;
  }
}

.popup__window {
  min-width: 320px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  background-color: $bg-color;
  z-index: 999;

  &--error {
    max-width: 400px;
    padding: 20px;
  }

  &--success {
    max-width: 640px;
  }
}

.popup__title {
  margin-top: 25px;
  margin-bottom: 30px;
}

.popup__message-wrapper {
  padding: 30px;
}

.popup__send-btn-wrapper {
  padding: 20px;
  background-color: $theme-color-lightgray;
}

.popup__ok-btn-wrapper {
  padding: 30px 10px 10px;
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .popup {
    flex-grow: 1;
  }

  .popup--error {
    padding: 30px 55px;
  }

  .popup__title {
    margin-bottom: 25px;
    padding: 0 20px;
    font-size: 30px;

    .popup--error & {
      line-height: 40px;
    }
  }

  .popup__btn-wrapper {
    padding: 45px 90px;
  }

  .popup__btn--ok {
    margin-bottom: 20px;
  }
}
