.video {
  @include container;
  background-color: $bg-color;
  box-sizing: border-box;
}

.video__desc {
  padding: 20px 30px;
}

.video__text {
  margin-top: 26px;
  line-height: 24px;
}

@media #{$breakpoint-tablet} {
  .video {
    padding: 0 60px 40px;
  }

  .video__desc {
    padding: 25px 0 60px;
    margin: 0 auto;
    max-width: 420px;
  }

  .video__title {
    font-size: 30px;
  }

  .video__text {
    margin-top: 30px;
  }
}

//______________________ Десктопная версия ______________________

@media #{$breakpoint-desktop} {
  .video {
    padding-bottom: 80px;
  }
}
