.video-player {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 800px;
}

.video-player__frame {
  width: 320px;
  min-height: 200px;
  background-color: #555;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.video-player__video {
  height: 150%;
}

//______________________ Версии для заставки плеера ______________________

@media (max-width: 320px) {
  .video-player__frame {
    background-image: url("../img/video-mobile@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}

@media (min-width: 321px) and (max-width: 788px) {
  .video-player__frame {
    background-image: url("../img/video-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: 789px) {
  .video-player__frame {
    background-image: url("../img/video-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}


.video-player__controls {
  position: relative;
  bottom: 45px;
  margin: 0 20px -3px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.05);
}

.video-player__volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.55);
}

.video-player__volume-slider-bar {
  position: relative;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.video-player__volume-slider-knob {
  display: block;
  position: absolute;
  top: -3px;
  left: 20%;
  transform: translateX(-50%);
  border: 4.5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.video-player__control-btn {
  margin: 22px;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  cursor: pointer;
  fill: #5c6870;

  &:hover svg {
    fill: #333333;
  }

  &:active svg {
    fill: #333333;
    opacity: 0.3;
  }

  &--replay {
    margin-right: auto;
  }
}

//______________________ Планшетная версия ______________________

@media #{$breakpoint-tablet} {
  .video-player__frame {
    height: 500px;
    overflow: hidden;
  }

  .video-player__controls {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video-player__volume-slider {
    flex-grow: 1;
    height: auto;
    width: auto;
    background-color: transparent;
  }

  .video-player__volume-slider-bar {
    width: 100%;
  }

  .video-player__control-btn {
    margin: 35px 40px;
    fill: rgba(255, 255, 255, 0.8);

    &:hover svg {
      fill: #ffffff;
    }

    &:active svg {
      opacity: 0.3;
    }

    &--replay {
      margin-right: 40px;
      order: -1;
    }

    &--subtitles {
      margin-right: 30px;
    }

    &--enlarge {
      margin-left: 0;
    }
  }
}

//______________________ Десктопная версия ______________________

.video-player__frame {
  width: 100%;
}
