.video-player {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.video-player__frame {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.video-player__frame-wrapper img {
  vertical-align: bottom;
}

.video-player__controls {
  position: relative;
  bottom: 45px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.05);
}

.video-player__volume-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.55);
}

.video-player__volume-slider-bar {
  position: relative;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.video-player__volume-slider-knob {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 20%;
  transform: translateX(-50%);
  border: 4.5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.video-player__control-btn {
  margin: 23px;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  fill: rgba(255, 255, 255, 0.8);
  cursor: pointer;

  &:hover svg {
    fill: #ffffff;
  }


  &:active svg {
    opacity: 0.3;
  }
}

/*
______________________ Планшетная версия ______________________
*/

@media #{$breakpoint-tablet} {
  .video-player__frame {
    height: 500px;
    background: #e5e5e5;
    overflow: hidden;
  }

  .video-player__frame-wrapper {
    width: 100%;
    height: 100%;

  }

  .video-player__frame-wrapper img {
    //margin-left: -50%;
    width: auto;
    height: 100%;
    //transform: translateX(25%);
  }


  .video-player__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video-player__volume-slider {
    flex-grow: 1;
    height: auto;
    width: auto;
    background-color: transparent;
  }

  .video-player__volume-slider-bar {
    width: 100%;
  }

  .video-player__control-btn {
    margin: 35px 40px;

    &--replay {
      order: -1;
    }

    &--subtitles {
      margin-right: 30px;
    }

    &--enlarge {
      margin-left: 0;
    }
  }
}

/*
______________________ Десктопная версия ______________________
*/

.video-player__frame {
  width: 100%;
}
